# Copyright (c) 2009 Nokia Corporation and/or its subsidiary(-ies).
# All rights reserved.
# This component and the accompanying materials are made available
# under the terms of "Eclipse Public License v1.0"
# which accompanies this distribution, and is available
# at the URL "http://www.eclipse.org/legal/epl-v10.html".
#
# Initial Contributors:
# Nokia Corporation - initial contribution.
#
# Contributors:
#
# Description: 

[DEFAULT]
# Settings for cone implmentation plugins 
# default path setting for all plugins 
# output path is a concatenation of output_root, output_subdir and plugin_output
output_root=output
output_subdir=
plugin_output=
output=%(output_root)s/%(output_subdir)s/%(plugin_output)s

# plugin tags can be set as a dictionary
plugin_tags     = {}

# plugin phase can be pre, normal or post
plugin_phase    = normal

# Sections for different plugins
[CRML]
plugin_output   = private/10202BE9
plugin_tags     = {'target' : ['rofs2','rofs3']}

[GCFML]
plugin_tags     = {'target' : ['rofs2','rofs3']}

[CONTENT]
plugin_tags     = {'target' : ['rofs3']}

[MAKEML]
plugin_tags     = {'target' : ['makefile']}

[RULEML]
plugin_tags     = {}

[IMAGEML]
plugin_tags     = {'target' : ['rofs3']}

[THEMEML]
plugin_tags     = {'target' : ['rofs3']}