# Copyright (c) 2009 Nokia Corporation and/or its subsidiary(-ies).
# All rights reserved.
# This component and the accompanying materials are made available
# under the terms of "Eclipse Public License v1.0"
# which accompanies this distribution, and is available
# at the URL "http://www.eclipse.org/legal/epl-v10.html".
#
# Initial Contributors:
# Nokia Corporation - initial contribution.
#
# Contributors:
#
# Description: 
#


# iMaker variantdir integration specific changes to the default cfg
# 

# Sections for different plugins
[CRML]
output_subdir=content

[GCFML]
output_subdir=content

[CONTENT]
output_subdir=

[IMAGEML]
output_subdir=content

[MAKEML]

[RULEML]

[ROFS2]
all-layers = true

[ROFS3 : ROFS2]
layers = -1
