body {
	background: white;
}

table {
	border-width:1;
	border-color:#006699;
	border-collapse:collapse;
}

td {
	border-width:1;
	border-color:#bebebe;
	border-collapse:collapse;
}

tr {
	border-width:1;
	border-color:#bebebe;
	border-collapse:collapse;
}

table.toc {
	border-width:0;
	border-color:#006699;
	border-collapse:collapse;
}

td.toc {
	border-width:0;
	border-color:#bebebe;
	border-collapse:collapse;
}

tr.toc {
	height:10px;
	border-width:0;
	border-color:#bebebe;
	border-collapse:collapse;
}

a:hover {
    text-decoration:underline;
    color:#27408b;
} 

a {
    text-decoration:none;
    color:#006699;
} 

a.heading1 {
    text-decoration:none;
    color:#000000;
} 

a.heading2 {
    text-decoration:none;
    color:#000000;
} 

a.heading3 {
    text-decoration:none;
    color:#ffffff;
} 

a.heading4 {
    text-decoration:none;
    color:#006699;
} 

hr.separator {
    height: 1px;
    color: #bebebe;
}

hr {
    height: 1px;
    color: #cdaa7d;
}

ol {
	color: 
}

li { 
	margin: 0em;
	color:black;
}

p { 
	margin: 0.5em
}

img {
	vertical-align:middle;
}
